PORT=5000
MONGODB_URI=mongodb+srv://mohanramasamy2005_db_user:UzAAJldAx0CEKLPt@cluster0.jzbayv9.mongodb.net/student_management_system_CRUD?appName=Cluster0
CLIENT_URL=http://localhost:5173
NODE_ENV=development
